{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Rafael's Portfolio page{% endblock description %}">
    <meta name="author" content="Rafael Abreu Fonseca">
     <title>{% block title %}Rafael's Portfolio{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css '%}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    {% block head-imports %} {% endblock head-imports%}
  </head>
  <body class="text-light bg-dark">



  <nav class="navbar navbar-dark bg-dark bg-gradient navbar-expand-lg fixed-top bebas-neue-regular fs-4">
  <div class="container-fluid">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'base:home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'knowledge:home' %}">Knowledge</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'base:home' %}">Projects</a>
    </li>
  </ul>
  </div>
  </div>
  </nav>

  {% block body %}
  <h1> NOT IMPLEMENTED</h1>
  {% endblock body %}

  <footer class="main-footer mt-5 pt-4 pb-1 fixed-bottom">
    <div class="container">
    <div class="row pb-2">
    <div class="col">
      Created by rafael.abreu.fonseca@gmail.com
    </div>
    </div>
    </div>

    <div class="container">
    <div class="row">
    <div class="col">
      Icons by <a href="https://icons8.com.br/icons" target="_blank">icons8</a>
    </div>
    </div>
    </div>
  </footer>

  <script src="{% static 'js/bootstrap.js/'%}"></script>
  {% block js-imports %} {% endblock js-imports%}
  </body>
</html>