img{
  max-width: 35%;
  height: auto;
}

.bebas-neue-regular{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text {
    position: relative;
    font-size: 30px;
    font-weight: 600;
}

.changing-text {
  color: #4070F4;
}

.text.changing-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  border-left: 2px solid #4070F4;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {
  40%, 60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}